@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    max-width: 800px; 
    margin: 0 auto; 
}

header{
    display: grid;
    justify-items: center;
    background-color: steelblue;
}

header img{
    justify-self: flex-start;

    width: 100px;
    height: auto;
    max-width: 100%;
    border: #000;
}

nav{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff; 
}

.hero {
    position: relative; 
    width: 100%;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    font-size: 36px;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 20px;
    color-scheme: var(rgb(235, 235, 240));
}

article{
    position: absolute; 
    top: 20px; 
    left: 20px; 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
}

article img {
    max-width: 200px; 
    max-height: auto; 
    display: flex; 
    margin: 0 auto 10px; 
    float: right;
}

footer{
    margin-top: 10px;
    border-top: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
}

section{
    grid-column: 2/3;
    margin: 5rem;
}

p{
    text-indent: 10px;
    margin-bottom: 20px;
}

section img{
    max-width: 120px;
    height: auto;
}
